:root {
  --font-primary: moby, sans-serif;
  --font-secondary: moby-monospace, monospace;
  font-weight: 400;
  background-color: #1A092F;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-break: break-word;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
}