.grid-episodes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;

  & .card-episode {
    background-color: #fff;
    border: 8px solid #2C7A8E;
    border-radius: 8px;
    box-shadow: -6px 6px 0px #000000;
    overflow: hidden;
    border: ;

    & .card-content {
      padding: 10px;

      & h2 {
        font-size: 18px;
        font-family: var(--font-primary);
        font-weight: 400;
      }

      & p {
        font-size: 14px;
        font-family: var(--font-secondary);
        font-weight: 700;
        color: #59B0C8;
      }
    }
  }
}

