.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  & .logo {
    width: 450px;
    height: auto;
    animation: glow 2s infinite ease-in-out;
  }
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(1, 240, 33, 0.76));
  }
}